name: testRigor E2E

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  testrigor:
    runs-on: ubuntu-latest

    steps:
      - name: Start testRigor run
        run: |
          echo "Starting testRigor tests..."
          curl -X POST \
            -H 'Content-type: application/json' \
            -H 'auth-token: e8ec5930-d15c-412e-8c74-030410b95f98' \
            --data '{ "storedValues": { "storedValueName1": "Value" }, "customName": "optionalNameForRun" }' \
            https://api.testrigor.com/api/v1/apps/Mkp2KyJqgY5LmxpFK/retest

      - name: Wait for testRigor results
        run: |
          echo "Waiting for testRigor to finish..."
          while true
          do
            echo " "
            echo "==================================="
            echo " Checking run status"
            echo "==================================="
            response=$(curl -i -o - -s -X GET 'https://api.testrigor.com/api/v1/apps/Mkp2KyJqgY5LmxpFK/status' -H 'auth-token: e8ec5930-d15c-412e-8c74-030410b95f98' -H 'Accept: application/json')
            code=$(echo "$response" | grep HTTP |  awk '{print $2}')
            body=$(echo "$response" | sed -n '/{/,/}/p')
            echo "Status code: " $code
            echo "Response: " $body
            case $code in
              4*|5*)
                # 4xx or 5xx HTTP errors
                echo "Error calling API"
                exit 1
                ;;
              200)
                # 200: successfully finished
                echo "Test finished successfully"
                exit 0
                ;;
              227|228)
                # 227: New - 228: In progress
                echo "Test is not finished yet"
                ;;
              229)
                # 229: Canceled
                echo "Test canceled"
                exit 1
                ;;
              230)
                # 230: Failed
                echo "Test finished but failed"
                exit 1
                ;;
              *)
                echo "Unknown status"
                exit 1
                ;;
            esac
            sleep 10
          done
